# http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Tab indentation for source
[**.*]
indent_size = 4
indent_style = tab

# Space indentation for documentation and text
[**.{md,rdoc,txt}]
indent_size = 4
indent_style = space

